
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto' !important;
}
html{
  background-color: #5aa4b5;
}
.big-container .star-icon input{
        display: none;
}


.big-container{
    box-sizing: border-box;
    /* width: 35%; */
    margin: 0 auto;
   
}
.star-icon{
  right: 50%;
  transform: translateX(-45%);
}


.star-icon .star-label{
    font-size: 40px;
    color: white;
    transition: all 0.2s ease;
    display: inline-flex;
    float: right;
    margin-right: 1rem;
}

input[type ="radio"]:checked ~ label{
    color: #01818c;
}
input:not(:checked)~label:hover,
input:not(:checked)~label:hover ~label{
  color: #01818c;
}



.big-container section{
    display: none;
}
input:checked ~ section{
   display: block;
}

.display{
      display: none;
}



.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0rem 2rem 0rem 1.5rem;
  border-radius: 20px;
  font-size: 13px;
  text-align: center;
}
.md-chip-hover:hover {
  background: #ccc;
}

.md-chip-clickable {
 cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: 32px;
  line-height: 32px;
}

.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}



.md-chips .md-chip {
  margin: 3px 5px 3px 0;
} 

input[type="checkbox"] {
  display: none;
}


input[type="checkbox"]:checked + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #01818c;
}

section{
  /* left: 50%; */
  transform: translateX(40%);
  /* width: 40%; */
}
.form-con {
    width: 100%;
    border: 2px solid #5aa4b5;
   margin-left: 4rem;
}
.header{
  margin-top: 2rem;
    font-size: 15px;
    font-weight: bold;
    padding: 2rem 0rem 1rem 0rem;
    color: white;
}
.top-header{
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  color: white;
}
/* .top-para{
    margin-left: 4.2rem;
    padding-bottom: .5rem;
}
.top-header{
    margin-left: 4rem;
    padding: 2rem 0rem .5rem 0rem;
    font-size: 32px;
} */
.textarea{
    padding: 1rem 0rem 0rem 0rem;
}
textarea{
  padding: 2px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
}
.submit-btn{
  padding: 10px;
  border: none;
  color: white;
  background-color: #01818c;
  width: 120px;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
  font-size:20px;
}

@media screen and (max-width: 768px ){
    
    .top-header{
        font-size: 24px;
        font-weight: bold;
    }
    .star-icon{
      right: 50%;
      transform: translateX(-30%);
    
    }
    section{
      transform: translateX(12%);
    }
    textarea{
      width: 80%;
    }
}

.big-container{
  background-color: #5aa4b5 !important;
}